body {
  background-color: $bg-grey-50;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
select {
  padding: 5px 15px;
  margin: 5px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: $bg-purp-200;
}

.header {
  .active {
    text-decoration: underline;
  }
}

.logo {
  .active {
    text-decoration: none;
  }
}

.login {
  width: 280px;
  input {
    width: 100%;
  }
}

.hero-img {
  width: 250px;
  height: 250px;
  background-image: url('../../assets/me.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
}
