a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  .active {
    text-decoration: underline;
  }
}

.logo {
  .active {
    text-decoration: none;
  }
}

.login {
  width: 280px;
  input {
    width: 100%;
  }
}
