$c-black: #2d2e32;
$c-white: #fafafa;
$c-green: #244e1a;
$c-red: #510000;

$bg-grey-50: #f7f7f8;
$bg-green-200: #b2eecc;
$bg-white: #fff;
$bg-grey: #f9f9f9;
$bg-black: #2d2e32;
$bg-purp: #5423e7;
$bg-purp-200: #c6b6f7;
$bg-red-200: #fbb1c4;
